<div class="row" *ngFor="let session of visibleSession">
  <!-- Display voting rights only if a user is logged in -->
        <div class="col-md-1" *ngIf="authService.isAuthenticated()">
          <upvote  (vote)="toggleVote(session)" 
          [count]="session.voters.length"  [voted]="userHasVoted(session)">
        </upvote>
        </div>
        <div class="col-md-10">
          <content-slide>
            <!-- Here the attribute well-title(just a random appropriate string name) is used to
            bind this div to a ng-content 'select' attribute Eg.
            <ng-content select="[well-title]"></ng-content> -->
             <div well-title>  
               {{session.name}}
               <i *ngIf="session.voters.length>3" class="glyphicon glyphicon-fire" 
                 style="color:red"></i>
             </div>
             <!-- Here the attribute well-body(just a random appropriate string name) is used to
            bind this div to a ng-content 'select' attribute Eg.
            <ng-content select="[well-body]"></ng-content> -->
             <div well-body>
                <h6>{{session.presenter}}</h6>
                <span>Duration: {{session.duration |duration}}</span><br />
                <span>Level: {{session.level}}</span>
                <p>{{session.abstract}}</p>
             </div>
              
          </content-slide>
        </div>
      </div>