<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="userName.invalid">Required</em>
      
      <input (ngModel)="username" name="userName"  #userName="ngModel"
      required id="userName"   type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="password.invalid">Required</em>
      <input (ngModel)="password" name="password" required  #password="ngModel"
      id="password" type="password" class="form-control" placeholder="Password..." />
    </div>
    
    <!-- [disabled]="loginForm.invalid" -->
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>

    
  </form>
</div>
<div class="col-md-5">
  {{loginForm.form.invalid}}
</div>
