<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li > 
            <a [routerLink]="['/events']" routerLinkActive="active-link" 
            >All Events</a>
          </li>
          <li><a href="" [routerLink]="['/events/new']" routerLinkActive="active-link">Create Event</a></li>
          <li disabled class="dropdown">
            <a href="#"  class="dropdown-toggle" data-toggle="dropdown" >
              Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href=""  routerLinkActive="active-link">Angular Connect</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
                <a href="" *ngIf="!authSevice.isAuthenticated()" [routerLink]="['user/login']">Login</a>
              <a href="" *ngIf="authSevice.isAuthenticated()" [routerLink]="['user/profile']">Welcome 
                {{authSevice.currentUser.firstName}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm"  (ngSubmit)="searchSession(searchKey)"
        class="navbar-form navbar-right"  >
          <div class="form-group">
            <input type="text" [(ngModel)]="searchKey" name="searchKey" class="form-control" placeholder="Search Sessions" >
          </div>
          <!-- Here the click on this button is handled by modal-trigger directive -->
          <!-- The modal-trigger is passed a string which specifies the ID of the modal to be opened -->
          <button class="btn btn-default" modal-trigger="searchedSession">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal box to be opened with the search results -->
  <!-- This is a custom directive called simple-modal -->
  <!-- The attribute elementId pass a string to be used as the ID for the simple-modal -->
  <simple-modal title="Matching Sessions" closeOnBodyClick="true" elementId="searchedSession">
      <div class="list-group">
      <a class="list-group-item" *ngFor="let session of foundSessions" 
      [routerLink]="['/events', session.eventId]">{{session.name}}</a>
    </div>
  </simple-modal>

  <!-- When session.name is clicked the page is routed to events details -->